.b-header.white{
	background: #fff;
}
.b-header.white .b-header-nav li a{
	color:#02223A;
}
.b-header.white .sub-logo-text{
		color:#02223A;
}
.footer-adr a {
	transition: color 0.3s;
}
.footer-adr a:hover {
	color: #A73C12;
}

.container-fluid {
	padding-left: 50px;
	padding-right: 50px;
}

.b-content-head {
	max-width: none;
}